/* Elements */
* {
  box-sizing: border-box;
}

mark {
  color: red;
  background-color: transparent;
  padding: 0px;
}

body {
  background-color: #8c8c8c;
}

/* Classes */

/* Navbar classes */
.header-style {
  background-color: #d9d9d9;
  font-family: 'Pattaya', sans-serif;
  font-size: 45px;
  position: relative;
}

.header-style h1 {
  margin-bottom: 0;
}

.navbar-brand {
  position: relative;
  width: 37px;
  height: 37px;
  bottom: 7px;
  left: 8px;
}

.nav-item {
  font-size: 20px;
  margin-bottom: -20px;
  padding-bottom: 10px;
}

.nav-link {
  font-family: 'Pattaya', sans-serif;
}

.dropdown-item {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  padding-top: 10px;
}

.btn {
  color: white;
}

/* Card classes */

.card {
  position: relative;
  background-color: #d9d9d9;
  border: .5px solid red;
}

.card-header {
  background-color: rgb(53, 58, 63);
  text-shadow: 1px 1px red;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 0px;
  font-family: 'Pattaya', sans-serif;
}

.title-text {
  text-transform: capitalize;
}

.posterImg {
  width: auto;
  height: 18.5vw;
  object-fit: cover;
  border: 1px solid black;
}

/* Anchor classes for in-page linking (do not change) */
.dummy-anchor {
  position: absolute;
  left: 0px;
  top: -103px;
}

.dynamic-dummy-anchor {
  position: absolute;
  left: 0px;
  top: -103px;
}

/* Stars color for rating in modal*/

.checked {
  color: #FFC107;
}

/* IDs */

#stickyHeader {
  border-bottom: .5px solid red;
}

#navbarDropdown {
  color: white;
}

#find-movie {
  font-family: 'Pattaya', sans-serif;
  background-color: red;
  font-size: 16px;
}