* {
  box-sizing: border-box;

}

posterImg {
  width: 100%;
  height: auto;
}

.title-text {
  text-transform: capitalize;
}

#stickyHeader {
  border-bottom: .5px solid red;
  

}

.navbar-brand {
  width: 37px;
  height: 37px;
  position: relative;
  bottom: 7px;
  left: 8px;
}

.nav-item {
  font-size: 20px;
  margin-bottom: -20px;
  padding-bottom: 10px;
}

#navbarDropdown {
  color: white;
}

.dropdown-item {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  padding-top: 10px;
}

#d-line {
  border-bottom: 1px solid black;
  font-size: 15px;
}

h1 {
  font-family: 'Pattaya', sans-serif;
  margin-bottom: -20px;
}

.display-4 {
  font-size: 45px;
  position: relative;
  bottom: 5px;
}

mark {
  color: red;
  background-color: transparent;
  padding: 0px;

}

.header-style {
  background-color: #d9d9d9;
}

.nav-link {
  font-family: 'Pattaya', sans-serif;
}

.navbar-nav {
  color: white;
}

#find-movie {
  font-family: 'Pattaya', sans-serif;
}

.dropdown-menu {
  background-color: white;

}



.btn {
  color:white;

}

.form-control {
  background-color: white;
}

#find-movie {
  background-color: red;
  font-size: 16px;

}

.card-header {
  background-color: rgb(53, 58, 63);
  text-shadow: 1px 1px red;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 0px;
  font-family: 'Pattaya', sans-serif;
  border-right: .5px solid red;
}

.card {
  background-color: #d9d9d9;
  border: .5px solid red;

}

body {
  background-color: #8c8c8c;
}

.posterImg {
  border: 1px solid black;
}